body {
  background-color: rgb(40,40,40);
}
#options {
  text-align: center;
  float: top;
}
h1, h2, h3, h4, h5, h6, p, label, strong {
  text-align: center;
  color: white;
}

input, button  {
  margin: 5px;
  width: 100px;
  box-sizing: border-box;
  font-size: 1.25em;
}

#options input[type=file]:hover {
    opacity: 0.65;
    filter: alpha(opacity=0.65);
}

#options input:focus, #options button:focus {
  outline: none;
}

#options input:hover, #options button:hover {
  background-color: #adadad;
  border-color: #8e8e8e;
}
#options input, #options button {
  border-radius: 5px;
  border-color: white;
}
input[type=file] {
  width: 180px;
}
#memory input {
  width: 185px;
}
#registers {
  background-color: rgb(50,50,50);
  width:36%;
}
#memory {
  background-color: rgb(50,50,50);
  float: right;
  width: 62%;
}
#documentation {
  text-decoration: none;
  padding: 10px;
  color: white;
  background-color: #101010;
  border-radius: 10px;
}
.mainBox {
  float: left;
  padding: 10px;
  box-sizing: border-box;
  border: solid;
  border-color: black;
  margin: 5px;
  border-radius: 10px;
}
